

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ------------------- BASE STYLES -------------------- */

body, html {
  background-image: url('/images/squairy_light.png');
  font-family: 'Crete Round', 'Merriweather', serif;
  color: #555555;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
  outline:none;
}

.green {
  color: #539137;
}

/* ------------------- disclaimer -------------------- */

.disclaimer {
  background-color: yellow;
  box-shadow: 0px -2px 7px rgba(0,0,0,0.2) inset;
  font-size: 14px;
  padding: 1em;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.disclaimer a {
  color: #000;
  font-weight: bolder;
}

/* ------------------- HEADER -------------------- */

header {
  padding: 0;
  margin: 0;
  position:relative;
  /*min-height: 128px;*/
}

#logo {
  text-align: center;
  max-height:140px;
  max-width:200px;
  vertical-align: bottom;
  min-width: 165px;
}

#logo img{
  width:100%;
}

/*header #sloganContainer {
  font-size: 20px;
  font-style: italic;
  font-weight:300;
  margin-top: 32px;
}*/

header #titleContainer {
  text-align:right;
  margin-top:44px;
}

header #titleContainer p{
  margin-bottom:0;
}

header .subtitle {
  font-size: 24px;
  font-variant: small-caps;
  /*font-weight: 700;*/
}

header .title {
  margin-top: -18px;
  font-size: 42px;
}


/* ------------------- SIDEBAR -------------------- */

.sidebar {
  border-top: 3px solid white;
  font-size: 16px;
  list-style: none;
  background-color: #f0f0f0;
  min-width: 160px;
}

/*.sidebar ul {
  list-style: none;
  padding: 4px 4px 4px 20px;
}*/

/*.sidebar li{
  padding: 4px 0;
}*/

.sidebar a{
  display: block;
  color:inherit;
}

.sidebar .compressed a:hover{
  display: block;
  color:inherit;
  background-color: #ffdd1f
}

.sidebar .active > a {
  font-weight: bold;
  color: #539137;
  background-color: #ffdd1f
}

.compressed li {
  padding: 0 0 0 10px;
  /*margin-top: -16px;*/
}


/* ------------------- GENERAL LAYOUT -------------------- */

.main {
  border-top: 3px solid white;
}

.main section{
  border-bottom: 2px solid #539137;
}

#charts div {
  padding-top:30px;
  border-bottom: 2px solid #539137;
}

/*#gallery .gallery-item {
  width: 200px;
  background: rgba(255, 255, 255, 0.5);
  height: 200px;
  padding: 10px;
  margin: 10px;
  float: left;
}

#gallery .gallery-item h3{
  margin: 0;
}

*/


/* ------------------- HOMEPAGE MAYOR TABLE -------------------- */


#mayoral-candidates th {
  font-weight: normal;
}

#mayoral-candidates p {
  margin: 0;
}

#mayoral-candidates thead th {
  max-width: 150px;
  text-align: center;
  padding: 10px;
}

#mayoral-candidates tbody th {
  padding: 0 10px 10px 0;
}

#mayoral-candidates td {
  text-align: center;
}

.mayor-info {
  display: inline-block;
  vertical-align: middle;
}

.mayor-picture {
  padding: 0 10px 10px 0;
  width: 80px;
}

.mayor-name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

/* ------------------- Candidate Page -------------------- */

#candidate .mayor-picture {
  width:70%;
  margin: auto;
}

.contributions {
  margin-top: 20px;
}

ul#contributions {
  text-decoration: none;
  list-style: none;
}

/* ------------------- Data Visualization -------------------- */

#main-container{
    position: relative;
    width: 850px;
    height: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background: pink;

}

#nav-container{
    position: absolute;
    top:0px;
    left:-800px;
    width: 850px;
    height: 998px;
    z-index:500;
    background: #fff;

}

#nav-tab{
    float: left;
    width: 50px;
    height: 100%;
    background: yellow;


}

#nav-svg{
    float:right;
    width: 798px;
    height: 100%;


    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

footer{
    width: 850px;
    height: 100px;

    background: #f0f0f0;
    margin: 0 auto;

}

.tooltip{
    position: absolute;
    padding: 8px;
    text-align: center;
    left:0px;
    top: 0px;
    width:200px;
    height: 150px;
    background: #fff;
    color:#333;
    box-shadow: 2px 2px 3px #333;
    opacity: 0;
    border-radius: 5px;
}


/* Level Containers */

.level-1,
.level-2,
.level-3,
.level-4 {
    width: 100%;
    height: 0px;
}

.level-1 .title,
.level-2 .title,
.level-3 .title,
.level-4 .title {
    width: 100%;
    text-align: center;
}

.level-1 .details,
.level-2 .details,
.level-3 .details,
.level-4 .details {
    width: 100%;
    height: 100px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#bubble-text {
    text-align: center;
}


#main {
    width: 1200px;
    height: 700px;
    /*background: #f0f0f0;*/
}

#main .div {
    display: inline-block;
    vertical-align: top;
}

#bubble {
    float:left;
    width:600px;
    height: 600px;

    /*border:1px solid #333;*/
}

#map {
    position: relative;
    top:0px;
    float: right;
    width: 500px;
    height: 500px;
    /*border:1px solid #333;*/
}

#select {
    text-align: center;
}

#candidate {
    border-radius: 5px;
    padding: 5px;
    border:1px solid #12b3d6;
    outline: 0px;
    color:#fff;
    font-weight: bold;
    background: #12b3d6;
}

#candidate option{
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;

}

.node{
    cursor:move;
}

.tooltip{
    position: absolute;
    padding: 8px;
    text-align: center;
    left:0px;
    top: 0px;
    width:200px;
    height: 150px;
    background: #fff;
    color:#333;
    box-shadow: 2px 2px 3px #333;
    opacity: 0;
    border-radius: 5px;
}

#legend{
    width: 100%;
    min-height: 50px;
    text-align: center;
}

#legend small{
    margin-left: 30px;
    margin-right: 10px;

}

#legend span{
    display: inline-block;
    width: 10px;
    height:10px;
}